.contact h3 {
    margin: 80px 0 80px 0;    
    font-weight: 900;
    text-align: center; 
}
.box {
    margin: 60px 60px;
    padding: 20px 20px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.253);
    border: solid 1px #CCC;
}
.box button {
    border: solid 1px #503072;
    color: #503072;
    font-weight: 700;
}
.box button:hover {    
    background-color: #503072;
    color: #FFF;
    border: solid 1px #503072;
    transition: 0.5s;
}
.box input {
    border: solid 1px #503072;
}
.box  textarea {
    border: solid 1px #503072;
}
.box label {
    font-weight: 600;
    color: #503072;
}
.contact-phone {
    text-align: center;
    margin: 20px 0 50px 0;
}
.contact-phone i {
    color: #503072;
    cursor: pointer;
    padding-top: 10px;
}
.contact-phone span {
    font-size: 1.1em;
    font-weight: 300;
    cursor: pointer;
    color: #a3a3a3;
}
.esp {
    cursor: pointer;
    font-weight: 600;
    padding-top: 5px;
    font-size: 1.1em;
}
