.about {
    padding: 30px 0;
}
.about h3 {
    margin: 60px 0 40px 0;
    text-align: center;
    font-weight: 900;
}
.about p {    
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    padding: 0 30px;
    color: rgba(0, 0, 0, 0.7); 
}