.navbar {  
    height: 80px; 
    width: 100%;
    transition: 3s;
    z-index: 4;
    
}
.scrolled {    
    background: rgb(0,0,3);
    background: linear-gradient(90deg, rgba(0,0,3,0.9333333333333333) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
}
.navbar img {
    height: 100px;
    padding: 15px;
}
.menu li {     
    font-weight: 500;
    font-size: 1.1em;
}
.menu a {
    text-decoration: none;    
    padding: 15px;
    color: #FFF;
} 
.menu a:hover,
.menu a.selected {
    color: #503072;
    transition: 0.23s;
}
.menu-toggle {
    float: right;
    color: #eee;
    background-color: #503072;
    border: solid 1px #503072;
    border-radius: 5px;    
    padding: 5px 10px;
    margin: 10px 0 50px 15px;
    text-decoration: none;      
}
@media (max-width: 990px){
    .navbar img {
       padding: 0 0 50px 0;
        
    }
}



