.about {
    text-align: center;
    justify-content: center;
}
.hello p {
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.4em;
    font-weight: 400;
}
.hello strong {    
    font-weight: 600;
}
.about img { 
    max-width: 130px;
    width: 130px;
    justify-content: center;    
    border-radius: 130px;
    margin: 100px 0 50px 0; 
}
.about a {
    margin: 20px 10px 15px 10px ;
    text-decoration: none;
    padding: 10px;
    color: #503072;
    border: solid 1px #503072;
    border-radius: 30px;
    font-weight: 500;
}
.about a:hover {
    background-color: #503072;
    color: #FFF;
    transition: 0.5s;
}