div .banner{
    background-image: url(../../../assets/images/image_header.jpg);
	background-size: cover;
   	background-attachment: scroll;
   	background-repeat: no-repeat;
   	background-position: center;
   	color: #FFF;
	height: 100vh;			
}
.content {
	padding-top: 35vh;
	text-align: center;
}
.content .name {		
	font-family: 'Merriweather', serif;
}
.content a  {
	text-decoration: none;
	color: #FFF;
}

@media screen and (max-width: 480px){
    .content .name {	
		font-size: 3em;	
	}
	.content h6 {
		font-size: 1.3em;		
	}
}

@media screen and (min-width: 481px) and (max-width: 993px){
    .content .name {	
		font-size: 4em;	
	}
	.content h6 {
		font-size: 1.5em;		
	}
}

@media screen and (min-width: 994px) and (max-width: 1199px){
    .content .name {	
		font-size: 5em;			
	}
	.content h6 {
		font-size: 1.6em;		
	}
}
@media screen and (min-width: 1200px){
	.content .name {	
		font-size: 6em;
	}
	.content h6 {
		font-size: 1.9em;		
	}

}